body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: url(k1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 20px;*/
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    opacity: 0.5;
}

.main-logo {
    border-radius: 50%;
    border: 2px solid white;
    width: 5%;
    overflow: hidden;
    height: 5%;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}

#td2 {
    border: 2px solid black;
    width: 50%;
    box-shadow: 6px 6px grey;
    background: transparent;
    background-color: rgba(255,255,255,0.5);
}

.sansserif2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}

.menu {
    overflow: hidden;
    background-color: #333;
    font-size: 300%;
}

    .menu a {
        float: right;
        color: whitesmoke;
        text-align: center;
        margin-right: 5px;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .menu .right{
        margin-right:30px;
    }

        .menu a:hover {
            background-color: #ddd;
            color: black;
        }
#submitlog {
    text-align: center;
}

.loginbtn {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

    .loginbtn:hover {
        background-color: #45a049;
    }

h1 {
    text-align: center;
    font-size: 400%;
    color: goldenrod;
}
footer {
    padding: 10px;
    text-align: center;
    height: 20px;
    background: #fcfff4; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
    position: absolute;
    bottom: 0;
    width: 98%;
}
